.u-section-1 .u-sheet-1 {
    min-height: 648px;
}

.u-section-1 .u-layout-wrap-1 {
    margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
    min-height: 559px;
    background-image: none;
}

.u-section-1 .u-container-layout-1 {
    padding: 0;
}

.u-section-1 .u-shape-1 {
    width: 500px;
    height: 500px;
    min-height: 0;
    background-image: none;
    margin: 0 0 0 auto;
}

.u-section-1 .u-image-1 {
    width: 500px;
    height: 500px;
    margin: -441px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
    min-height: 559px;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px 60px;
}

.u-section-1 .u-text-1 {
    margin: 158px 0 0;
}

.u-section-1 .u-text-2 {
    font-style: italic;
    margin: 16px 0 0;
}

.u-section-1 .u-btn-1 {
    margin: 35px auto 0 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 561px;
    }

    .u-section-1 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 472px;
    }

    .u-section-1 .u-shape-1 {
        width: 412px;
        height: 412px;
    }

    .u-section-1 .u-image-1 {
        width: 412px;
        height: 412px;
        margin-top: -353px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 472px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 464px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 353px;
    }

    .u-section-1 .u-shape-1 {
        width: 316px;
        height: 316px;
    }

    .u-section-1 .u-image-1 {
        width: 316px;
        height: 316px;
        margin-top: -257px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 375px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: auto;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 530px;
    }

    .u-section-1 .u-shape-1 {
        width: 296px;
        height: 302px;
        margin-right: 96px;
    }

    .u-section-1 .u-image-1 {
        width: 296px;
        height: 306px;
        margin-top: -253px;
        margin-left: 111px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: auto;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-layout-cell-1 {
        min-height: 334px;
    }

    .u-section-1 .u-shape-1 {
        width: 280px;
        margin-right: 0;
    }

    .u-section-1 .u-image-1 {
        width: 280px;
        height: 295px;
        margin-top: -242px;
        margin-left: 0;
    }
}.u-section-2 .u-sheet-1 {
     min-height: 451px;
 }

.u-section-2 .u-group-1 {
    width: 800px;
    min-height: 334px;
    margin: -29px auto;
}

.u-section-2 .u-container-layout-1 {
    padding: 30px;
}

.u-section-2 .u-text-1 {
    margin: 0 0 0 10px;
}

.u-section-2 .u-text-2 {
    margin: 20px 0 0 10px;
}

@media (max-width: 991px) {
    .u-section-2 .u-group-1 {
        width: 720px;
    }

    .u-section-2 .u-text-1 {
        margin-left: 0;
    }

    .u-section-2 .u-text-2 {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-group-1 {
        width: 540px;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
        min-height: 483px;
    }

    .u-section-2 .u-group-1 {
        width: 340px;
    }
}.u-section-3 .u-sheet-1 {
     min-height: 451px;
 }

.u-section-3 .u-group-1 {
    width: 800px;
    min-height: 447px;
    margin: -29px auto;
}

.u-section-3 .u-container-layout-1 {
    padding: 30px;
}

.u-section-3 .u-text-1 {
    margin: 0 0 0 10px;
}

.u-section-3 .u-text-2 {
    margin: 20px 0 0 10px;
}

@media (max-width: 991px) {
    .u-section-3 .u-group-1 {
        width: 720px;
    }

    .u-section-3 .u-text-1 {
        margin-left: 0;
    }

    .u-section-3 .u-text-2 {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .u-section-3 .u-group-1 {
        width: 540px;
    }

    .u-section-3 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
        min-height: 483px;
    }

    .u-section-3 .u-group-1 {
        width: 340px;
    }
}.u-section-4 .u-sheet-1 {
     min-height: 702px;
 }

.u-section-4 .u-group-1 {
    min-height: 150px;
    width: 800px;
    margin: 59px auto 0;
}

.u-section-4 .u-container-layout-1 {
    padding: 30px 60px;
}

.u-section-4 .u-text-1 {
    margin: 28px 0 0;
}

.u-section-4 .u-list-1 {
    min-height: 415px;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(1, auto);
    width: 1140px;
    grid-gap: 0;
    margin: 20px auto 59px;
}

.u-section-4 .u-container-layout-2 {
    padding: 30px 20px;
}

.u-section-4 .u-image-1 {
    height: 266px;
    margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
    width: 154px;
    margin: 20px auto 0;
}

.u-section-4 .u-text-3 {
    width: 156px;
    margin: 20px auto 0;
}

.u-section-4 .u-container-layout-3 {
    padding: 30px 20px;
}

.u-section-4 .u-image-2 {
    height: 266px;
    margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
    width: 154px;
    margin: 20px auto 0;
}

.u-section-4 .u-text-5 {
    width: 156px;
    margin: 20px auto 0;
}

.u-section-4 .u-container-layout-4 {
    padding: 30px 20px;
}

.u-section-4 .u-image-3 {
    height: 266px;
    margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
    width: 154px;
    margin: 20px auto 0;
}

.u-section-4 .u-text-7 {
    width: 156px;
    margin: 20px auto 0;
}

.u-section-4 .u-container-layout-5 {
    padding: 30px 20px;
}

.u-section-4 .u-image-4 {
    height: 266px;
    margin: 0 auto 0 0;
}

.u-section-4 .u-text-8 {
    width: 154px;
    margin: 20px auto 0;
}

.u-section-4 .u-text-9 {
    width: 156px;
    margin: 20px auto 0;
}

@media (max-width: 1199px) {
    .u-section-4 .u-sheet-1 {
        min-height: 629px;
    }

    .u-section-4 .u-list-1 {
        min-height: 342px;
        height: auto;
        width: 940px;
    }

    .u-section-4 .u-image-1 {
        height: 211px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-4 .u-text-2 {
        width: 136px;
    }

    .u-section-4 .u-image-2 {
        height: 211px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-4 .u-text-4 {
        width: 136px;
    }

    .u-section-4 .u-image-3 {
        height: 211px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-4 .u-text-6 {
        width: 136px;
    }

    .u-section-4 .u-image-4 {
        height: 211px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-4 .u-text-8 {
        width: 136px;
    }
}

@media (max-width: 991px) {
    .u-section-4 .u-sheet-1 {
        min-height: 1335px;
    }

    .u-section-4 .u-group-1 {
        width: 720px;
    }

    .u-section-4 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-4 .u-list-1 {
        min-height: 1048px;
        grid-template-columns: repeat(2, 50%);
        width: 720px;
    }

    .u-section-4 .u-image-1 {
        height: 346px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-4 .u-image-2 {
        height: 346px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-4 .u-image-3 {
        height: 346px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-4 .u-image-4 {
        height: 346px;
        margin-right: initial;
        margin-left: initial;
    }
}

@media (max-width: 767px) {
    .u-section-4 .u-group-1 {
        width: 540px;
    }

    .u-section-4 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-4 .u-list-1 {
        grid-template-columns: 100%;
        width: 540px;
    }

    .u-section-4 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-4 .u-image-1 {
        height: 562px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-4 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-4 .u-image-2 {
        height: 562px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-4 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-4 .u-image-3 {
        height: 562px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-4 .u-container-layout-5 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-4 .u-image-4 {
        height: 562px;
        margin-right: initial;
        margin-left: initial;
    }
}

@media (max-width: 575px) {
    .u-section-4 .u-group-1 {
        width: 340px;
    }

    .u-section-4 .u-list-1 {
        width: 340px;
    }

    .u-section-4 .u-image-1 {
        height: 346px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-4 .u-image-2 {
        height: 346px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-4 .u-image-3 {
        height: 346px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-4 .u-image-4 {
        height: 346px;
        margin-right: initial;
        margin-left: initial;
    }
}